<app-menu />
<h2>UNDER CONSTRUCTION</h2>

<div style="margin-top: 10px;" *ngIf="selectedOrder">
    <div style="font-weight: 900;">
        <span style="margin-right: 20px;">Order #: {{selectedOrder.id}}</span>
        <span style="margin-right: 20px;">Total: {{selectedOrder.total | number:'1.2-2'}}</span>
        <span style="margin-right: 20px;">Date: {{selectedOrder.date | date:'MMM dd, yyyy \'at\' hh:mm a'}}</span>
    </div>
    <p-divider />
    <form [formGroup]="form" (ngSubmit)="addItem()">
        <div class="grid" style="background-color: rgb(248, 238, 225);">
            <div class="field col-3">
                <label for="productName" class="block">Product</label>
                <p-autoComplete formControlName="product" [suggestions]="filteredProducts"
                    (completeMethod)="filterProduct($event)" field="productName" (onSelect)="onSelectProduct($event)" />
            </div>

            <div class="field col-3">
                <label for="price" class="block">Price</label>
                <p-inputNumber formControlName="price" inputId="locale-user" mode="decimal" [minFractionDigits]="2"
                    [maxFractionDigits]="2" id="price" />
            </div>

            <div class="field col-3">
                <label for="quantity" class="block">Quantity</label>
                <p-inputNumber inputId="integeronly" formControlName="quantity" id="quantity" [min]="1"
                    (onBlur)="getTotalItem()" />
            </div>

            <div class="field col-3">
                <label for="total" class="block">Total Item</label>
                <p-inputNumber mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"
                    formControlName="total" min="0" id="total" />
            </div>
        </div>
    </form>
    <div class="card flex flex-wrap gap-3 justify-content-center" style="margin-top: 10px;">
        <span style="margin-right: 5px;" *ngIf="!selectedItem">
            <p-button label="Add Item" [raised]="true" severity="success" (onClick)="addItem()"
                [disabled]="form.invalid" />
        </span>
        <span style="margin-right: 5px;" *ngIf="selectedItem">
            <p-button label="Update Item" [raised]="true" severity="info" (onClick)="updateItem()"
                [disabled]="form.invalid" />
        </span>
        <span style="margin-right: 5px;">
            <p-button label="Back" [raised]="true" severity="contrast" (onClick)="back()" />
        </span>
    </div>
    <p-scrollPanel [style]="{ width: '100%', height: '80vh' }">
        <p-table [value]="items" selectionMode="single" [(selection)]="selectedItem" dataKey="id" [paginator]="true"
            [rows]="5" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }"
            (onRowSelect)="onItemRowSelect($event)" (onRowUnselect)="onItemRowUnselect($event)" [rowsPerPageOptions]="[5, 10, 20]" responsiveLayout="stack"
            [breakpoint]="'960px'">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:60%">Product</th>
                    <th style="width:10%">Quantity</th>
                    <th style="width:10%">Unit Price</th>
                    <th style="width:10%">Item Total</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>{{item.product.productName}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price | number:'1.2-2'}}</td>
                    <td>{{item.total | number:'1.2-2'}}</td>
                    <td>
                        <span style="margin-right: 5px;">
                            <p-button icon="pi pi-trash" [rounded]="false" severity="danger" [outlined]="false"
                                [raised]="true" (onClick)="showConfirm(item)" [raised]="true" size="small" />
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-scrollPanel>

</div>
<p-divider />
<div *ngIf="!selectedOrder" style="text-align: center;">
    <div class="card flex flex-wrap gap-3 justify-content-center" style="margin-top: 10px;">
        <p-button label="New Order" [raised]="true" (onClick)="addOrder()" />
    </div>
    <p-divider />

    <p-scrollPanel [style]="{ width: '100%', height: '80vh' }">
        <p-table [value]="orders" selectionMode="single" [(selection)]="selectedOrder" dataKey="id"
            (onRowSelect)="onOrderSelect()" [paginator]="true" [rows]="5" styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]" responsiveLayout="stack"
            [breakpoint]="'960px'">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20%">Order Code</th>
                    <th style="width:20%">Total</th>
                    <th style="width:20%">Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr [pSelectableRow]="order">
                    <td>{{order.id}}</td>
                    <td>{{order.total | number:'1.2-2'}}</td>
                    <td>{{order.date | date:'MMM dd, yyyy \'at\' hh:mm a'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-scrollPanel>
</div>

<p-toast position="top-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-900">Confirm</span>
            </div>
            <div class="font-medium text-lg my-3 text-900">
                Are you sure about delete {{selectedItem.product.productName}}?
            </div>
            <p-button label="Delete" (click)="onConfirm()" />
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-right" key="msgs" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-900">{{hdrMsg}}</span>
            </div>
            <div class="font-medium text-lg my-3 text-900">
                {{msg}}
            </div>
        </div>
    </ng-template>
</p-toast>