<app-menu />
<form [formGroup]="form" (ngSubmit)="addOrder()">
    <div class="grid" style="background-color: rgb(248, 238, 225);">
        <div class="field col-3">
            <label for="productName" class="block">Product</label>
            <p-dropdown [options]="products" formControlName="product" optionLabel="productName" [checkmark]="true"
                [showClear]="true" placeholder="Select a product" class="dropdown" id="product"
                (onChange)="onSelectProduct($event)" />
        </div>

        <!-- <div class="field col-3">
            <label for="clientName" class="block">Client</label>
            <p-dropdown [options]="clients" formControlName="client" optionLabel="name" [checkmark]="true"
                [showClear]="true" placeholder="Select a client" class="dropdown" id="clientName"  />
        </div> -->

        <div class="field col-3">
            <label for="price" class="block">Price</label>
            <p-inputNumber formControlName="price" inputId="locale-user" mode="decimal" [minFractionDigits]="2"
                [maxFractionDigits]="2" id="price" />
        </div>

        <div class="field col-3">
            <label for="quantity" class="block">Quantity</label>
            <p-inputNumber inputId="integeronly" formControlName="quantity" id="quantity"
                incrementButtonIcon="pi pi-angle-right" decrementButtonIcon="pi pi-angle-left" [min]="1"
                (onKeyDown)="getTotalItem($event)"/>
        </div>

        <div class="field col-3">
            <label for="totalItem" class="block">Total Item</label>
            <p-inputNumber mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" formControlName="totalItem"
                min="0" id="totalItem" />
        </div>
    </div>
</form>
<p-divider />
<div class="card flex flex-wrap gap-3 justify-content-center" style="margin-top: 10px;">
    <p-button *ngIf="selectedItem?.id == undefined" label="New" [raised]="true" (onClick)="addOrder()"
        [disabled]="form.invalid" />
    <span style="margin-right: 5px;">
        <p-button *ngIf="selectedItem?.id != undefined" label="Update" [raised]="true" severity="success"
            (onClick)="updateItem()" [disabled]="form.invalid" />
    </span>
    <span style="margin-right: 5px;">
        <p-button *ngIf="selectedItem?.id != undefined" label="Delete" [raised]="true" severity="danger"
            (onClick)="showConfirm()" />
    </span>
</div>
<p-divider />

<div style="margin-top: 10px;">
    <p-scrollPanel [style]="{ width: '100%', height: '80vh' }">
        <p-table [value]="items" selectionMode="single" [(selection)]="selectedItem" dataKey="id"
            (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="5"
            styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]"
            responsiveLayout="stack" [breakpoint]="'960px'">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Item</th>
                    <th style="width:60%">Product</th>
                    <th style="width:10%">Quantity</th>
                    <th style="width:10%">Unit Price</th>
                    <th style="width:10%">Item Total</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>{{item.id}}</td>
                    <td>{{item.product.productName}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.product.price}}</td>
                    <td>{{item.totalItem}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-scrollPanel>
</div>

<p-toast position="top-center" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-900">Confirm</span>
            </div>
            <div class="font-medium text-lg my-3 text-900">
                Are you sure about delete {{selectedProduct?.productName}}?
            </div>
            <p-button label="Delete" (click)="onConfirm()" />
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-right" key="msgs" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column align-items-start" style="flex: 1">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-900">{{hdrMsg}}</span>
            </div>
            <div class="font-medium text-lg my-3 text-900">
                {{msg}}
            </div>
        </div>
    </ng-template>
</p-toast>